.App {
  text-align: center;
}

.user{
  top:-13%;
}
.followers{
  height:290px;
  overflow: scroll;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(45px, 1fr));
  gap: 1.25rem 1rem;

}


  